* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    max-width: 1180px;
    margin: 0 auto;
    animation: fadein linear 2s;
}

h1 {
    font-family: 'Italiana', serif;
    padding-top: 50px;
    animation: fadein linear 2s;
}

h2 {
    font-family: 'Italiana', serif;
    animation: fadein linear 2s;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    animation: fadein linear 3s;
}

@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
}

a:link {
    color: #37C6FF;
    text-decoration: none;
}

a:visited {
    color: #1C779C;
}

a:hover {
    color: #2D8FFF;
    text-decoration: underline;
}

a:active {
    color: #B0D2DF;
}

.ellipses {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
}